.containerb{
    border-radius: 04%;
    border: solid 1px gray;
    background: #D7CCC8;
    padding-top: 2rem;
    margin-bottom:2rem;
    width: 290px;
    height: 245px;
    display: grid;
    display: inline-block ;
    align-content: space-between;
    justify-content: center;
    align-items: center;
     

    text-decoration: none;
  
}
.center{
    margin-left: 20px;
    align-items: center;
}
.activities{
    color: white;
}
.info{
    float: left;
    text-decoration: none;
    color:#212121;
    font-size: 20px;
}
.titulo{
    text-decoration: none;
    color:#212121;
    font-size: 40px;
    margin-right: 500px;
    }
